*{
    margin: 0;
    padding: 0;
}
.container-login{
  width:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  height:70%;
}
.container-login-2{
  width:60%; 
  background-color:#1e1f24;
  height:70%;
  display:flex;
  border-radius:8px;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.btn-login{
    border: 0;
    width: 90%;
    background-color: #2a86ff;
    color: white;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}

.btn-login-demo{
  border: 0;
  width: 90%;
  background-color: #17181c;
  color: #2a86ff;
  border-radius: 4px;
  margin-top: 10px;
  border: 1px solid #2f3239;
  cursor: pointer;
  padding: 5px;
}
p{
    color: white;
}



.input{
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  padding: 7px;
  background-color: #e0e0e0;
  color: #2a86ff;
  cursor: pointer;
}
.input-night{
  border: 1px solid #2f3239;
  border-radius: 4px;
  padding: 7px;
  background-color: #27292f;
  color: #2a86ff;
  cursor: pointer;
}



.input::placeholder{
  color: #2a86ff;
}
.radio-div{
    border: 1px solid rgb(0, 0, 0, 0.2);
    width: 45%;
    border-radius: 4px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-div{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    
}
.select{
    border: 1px solid rgb(0, 0, 0, 0.2);
    width: 75%;
    border-radius: 4px;
}
select{
    width: 100%;
    border: 0;
    padding: 7px;
}

.container div {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
  }
  
  .container  div input {
    position: absolute;
    left: -9999px;
  }
  
  .container div input:checked + span {
    background-color: #17181c;
    width: 100%;
    color: #2a86ff;
  }
  
  .container div input:checked + span:before {
    box-shadow: inset 0 0 0 0.4375em #2a86ff;
    
  }
  
  .container div span {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    width: 100%;
    transition: 0.25s ease;
    color: #2a86ff;
    
  }
  
  .container div span:hover {
    background-color: #17181c;
  }
  
  .container div span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #2a86ff;
  }
  
  .errorhint{
    display: flex;
    color:red;
     padding:5px;
     margin: 5px auto;
     width: 80%;
     border-radius: 4px;
     place-items: center;
     justify-content: center;

  }
  .errorhintdis{
    display: none;
  }

  #root{
    margin: 0;
  }

  .container-register{
    width:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    height:fit-content;

  }
  .container-register-2{
    width:60%; 
    background-color:#1e1f24;
    height:100%;
    justify-content:center; 
    display:flex;
    border-radius:8px;
    flex-direction:column;
    padding: 10px;
  }
  @media only screen and (max-width: 600px) {
    .container-login{
      width: 100%;
    }

    .container-login-2{
      width: 90%;
    }

    .container-register{
      width: 100%;
    }

    .container-register-2{
      width: 90%;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .container-login{
      width: 100%;
    }

    .container-login-2{
      width: 90%;
    }

    .container-register{
      width: 100%;
    }

    .container-register-2{
      width: 90%;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .container-login{
      width:50%;
      display:flex;
      align-items:center;
      justify-content:center;
      height:70%;
    }
    .container-login-2{
      width:60%; 
      background-color:#1e1f24;
      height:70%;
      justify-content:center; 
      display:flex;
      border-radius:8px;
      flex-direction:column;
    }

    .container-register{
      width:50%;
      display:flex;
      align-items:center;
      justify-content:center;
      height:65%;
  
    }
    .container-register-2{
      width:60%; 
      background-color:#1e1f24;
      height:100%;
      justify-content:center; 
      display:flex;
      border-radius:8px;
      flex-direction:column;
      padding: 10px;
    }
  }