.createPost-div{
    width: 100%;
    height:fit-content; 
    background-color: white;
     border-radius:10px;
     display:flex; 
     flex-direction:row; 
     place-items:center; 
     gap:10px;
     border: 1px solid #c7cad0;
}

.createPost-div-night{
    width: 100%;
    height:fit-content; 
    background-color: #1e1f24;
     border-radius:10px;
     display:flex; 
     flex-direction:row; 
     place-items:center; 
     gap:10px;
}

.input-content{
    min-width:100%;
    height:100%;
    max-width: 100%;
    max-height: 20vh;
    border-radius:5px;
    border:1px solid rgb(200,200,200);
    margin-top:5px;
}
.input-content-night{
    min-width:100%;
    height:100%;
    width: 100%;
    max-width: 100%;
    max-height: 20vh;
    border-radius: 8px;
    border: 0;
    padding-left: 10px;
    margin-top:5px;
    background-color: #27292f;
    color: white;
}
.input-image{
    width: 14%;
    display:flex;
    place-items: center;
    background-color: #27292f;
    margin: 10px;
    border-radius: 8px;
    font-weight: bold;
    place-content: center;
}
#img[type="file"]{
    display: none;
}

.custom-file-input-post {
    border-radius: 4px;
    cursor: pointer;
  }
  .custom-file-input-post i {
    cursor: pointer;
    user-select: none;
  }

.input-content-night::placeholder{
   padding: 5px;
    color: white;
}
.contener-textarea-img{
    width:90%;
    height:100%;
    border-radius:4px;
    display:flex;
    flex-direction:column;
    padding:10px;
}
.post-btn{
    background-color:#27292f;
    border:0;
    color:white;
    font-size:16px; 
    padding:"10px"; 
    margin: 10px  0 10px;
    padding: 10px;
    border-radius:5px; 
}
.block-post-btn{
    background-color:#17181c;
    border:0;
    color:#868686;
    font-size:16px; 
    padding:"10px"; 
    margin: 10px  0 10px;
    padding: 10px;
    border-radius:5px; 
    cursor:not-allowed;
}
.img-post-btn{
    display:flex;
    justify-content:space-between;
}
#myProgress {
    width: 100%;
    background-color: #303841;
    display: none;
}
#myBar {
    width: 0%;
    height: 5px;
    margin-bottom: 5px;
    background-color: #2a86ff;
  }
.gg-image {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    color: #ffffff;
    width: 20px;
    height: 16px;
    overflow: hidden;
    box-shadow: 0 0 0 2px;
    border-radius: 2px;
    
}
.gg-image::after,
.gg-image::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid #ffffff;
    
}
.gg-image::after {
    transform: rotate(45deg);
    border-radius: 3px;
    width: 16px;
    height: 16px;
    top: 9px;
    left: 6px
}
.gg-image::before {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    top: 2px;
    left: 2px
}


.gg-image-upload {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    color: rgb(0, 255, 0);
    width: 20px;
    height: 16px;
    overflow: hidden;
    box-shadow: 0 0 0 2px;
    border-radius: 2px;
    
}
.gg-image-upload::after,
.gg-image-upload::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid rgb(0, 255, 0);
    
}
.gg-image-upload::after {
    transform: rotate(45deg);
    border-radius: 3px;
    width: 16px;
    height: 16px;
    top: 9px;
    left: 6px
}
.gg-image-upload::before {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    top: 2px;
    left: 2px
}

.error-video-length{
    color: red;
    background-color: rgb(255, 0, 0, 0.2);
    padding: 5px;
}