.search-page{
    width: 99vw;
    display: flex;
    justify-content: center;
}

.search-content-v1{
    width: 50%;
    margin-top: 10px;
}

.contenter-search{
    background-color:white;
    color:black;
    border-radius:4px;
    box-shadow: 0 0 5px 1px rgb(0, 0, 0,0.2);
}

.contenter-search-night{
    background-color:#3a4750;
    color:white;
    border-radius:4px;
}