body{
    background-color: #e6e6e6;
}
.contenter-content-login-register{
    margin-top: 10px;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    place-content: center;
    justify-content: center;
    text-align: center;
    place-items: center;
    background-size:80%;

}
.container-register{
    min-height: 50%;
    max-height: max-content;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    place-content: center;
    justify-content: center;
    text-align: center;
    place-items: center;
    border-radius: 10px;
}

.email-input{
    border-radius: 4px;
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
}
.password-input{
    border: 1px solid rgb(172, 172, 172);
    border-radius: 4px;
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
}

.btn-primary{
    background-color: #018b92;
    border: 0;
    color: white;
    border-radius: 4px;
    font-weight: 20px;
    width: 100%;
    height: 30px;
}

#country{
    border: 1px solid rgb(172, 172, 172);
    border-radius: 4px;
    height: 30px;
    width: 7vw;
    margin-bottom: 10px;
}


.input{
  border: 1px solid #2f3239;
  border-radius: 4px;
  padding: 7px;
  height: 25px;
  background-color: #27292f;
  color: #2a86ff;
}
.container-register{
    width:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    height:fit-content;

  }
  .container-register-2{
    width:60%; 
    background-color:white;
    height:100%;
    justify-content:center; 
    display:flex;
    border-radius:8px;
    flex-direction:column;
  }


@media only screen and (max-width: 600px) {
    .container-register{
      width: 100%;
    }

    .container-register-2{
      width: 90%;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .container-register{
      width: 100%;
    }

    .container-register-2{
      width: 90%;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .container-register{
      width:50%;
      display:flex;
      align-items:center;
      justify-content:center;
      height:fit-content;

    }
    .container-register-2{
      width:60%; 
      background-color:white;
      height:100%;
      justify-content:center; 
      display:flex;
      border-radius:8px;
      flex-direction:column;
    }
  }